*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hue: 199;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(189, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --bg-light: hsl(180, 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);
  --text-gray: hsl(210, 6%, 54%);
  --nav-height: 10rem;
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
html, body{
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
section{
  padding-block: 10rem;
}
body {
  font-family: "DM Sans";
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}
section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}
.button {
  background-color: var(--primary-color);
  
  border: none;
  /* border-radius: 1rem; */
  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}
.button:hover {
  background-color: var(--brand-dark);
}
.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
#about .wrapper .content p{
  text-align: justify;
}
/* Custom colors */
#services .card circle {
  fill: var(--brand-light);
}
#navigation .logo .logo-white{
  display: none;
}
#navigation .logo .logo-dark{
  margin-top: 0.8rem;
  width: 18rem;
}
#backToTopButton circle {
  fill: var(--primary-color);
}
body.menu-expanded #navigation .logo .logo-dark,
#navigation.scroll .logo .logo-dark {
  display: none;
}
body.menu-expanded #navigation .logo .logo-white,
#navigation.scroll .logo .logo-white {
  display: initial;
  margin-top: 0.8rem;
  width: 25rem;
}
body.menu-expanded #navigation .social-links{
  margin-top: calc(12rem - var(--nav-height));
}
body.menu-expanded #navigation .menu h4{
  margin-top: var(--nav-height);
  color: white;
  font-weight: 400;
}

button.open-menu path[stroke*='#00856f'],
#contact li path {
  stroke: var(--primary-color);
}
#navigation.scroll button.open-menu path{
  stroke: white;
}
button.open-menu path{
  stroke: var(--primary-color);
}

#services .wrapper a,
#about .wrapper a  {
  margin-top: 3rem;
}


section header h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-align: justify;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}
section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}
section header h1 {
  font-size: 3.4rem;
  color: var(--secondary-color);
  line-height: 130%;

  margin-bottom: 2.4rem;
}
section header h3 {
  text-align: justify;
  color: var(--primary-color);
}

.wrapper {
  width: min(50rem, 100%);
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2.4rem;
}

nav{
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;


  z-index: 100;
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll{
  background: var(--primary-color);
}
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
nav .menu,
nav .close-menu {
  position: fixed;
}


.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu ul li a{
  color: white;
  text-decoration: none;
}
body.menu-expanded .logo,
body.menu-expanded button{
  position: relative;
  z-index: 100;
}
body.menu-expanded .logo path{
  fill: white;
}
body.menu-expanded button path{
  stroke: white;
}

.woman {
  width: 47rem;
  display: block;
  margin-inline: auto;
  border-radius: 0.7rem
}

body.menu-expanded{
  overflow: hidden;
}
body.menu-expanded > :not(nav){
  visibility: hidden;
}
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

.menu{
  transform: translateY(100%);
}
body.menu-expanded .menu{
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100rem;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

/* ========HOME======== */

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}
#home::before{
  content: "";
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}
#home h4 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
#home h4 img{
  width: 2rem;
}
#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--primary-color);

  margin-bottom: 3.2rem;
}
#home .skills p{
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 1rem 2rem;
}
#home .button {
  margin-inline: auto;
}

/* ========SERVICES======== */

#services header h2{
  margin-bottom: 6rem;
}

#services .cards{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
#services .card{
  padding: 2.4rem;
  text-align: left;
  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}
#services .card h3 {
  margin-block: 1.6rem;
}
#services header .procedures{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-block: 3rem;
}
#services header .procedures p,
#about .content .procedures p{
  display: flex;
  text-align: left;
  align-items: center;
  gap: 1rem;
}

#services header h5{
  text-align: left;
  color: var(--text-gray);
  font-weight: 400;
}
#services img {
  border-radius: 0.7rem;
  size: 240px;
}

/* ========ABOUT======== */

#about {
  text-align: left;
  background-color: var(--brand-beige);
  
  gap: 30rem;
}
#about h2 {
  margin-bottom: 2.4rem;
}
#about .content p {
  margin-block: 1.5rem;
}
#about .content p img {
  size: 240px;
}
#about img {
  border-radius: 0.7rem;
}
#about .wrapper + .wrapper{
  margin-top: var(--nav-height);
}
#about .wrapper .office{
  width: min(48rem, 100%);
  height: 41.4rem;
  
  animation-name: animacao;
  animation-duration: 8s;
  animation-iteration-count: infinite;

  border-radius: 0.7rem;
}
@keyframes animacao{
  0%{
    background: url("./assets/lado-externo-do-predio.jpeg");
    background-repeat: none;
    background-size: 48rem 41.4rem;
  }
  25%{
    background: url("./assets/lado-externo-do-predio.jpeg");
    background-repeat: none;
    background-size: 48rem 41.4rem;
  }
  50%{
    background: url("./assets/recepcao-do-predio.jpeg");
    background-repeat: none;
    background-size: 48rem 41.4rem;
  }
  75%{
    background: url("./assets/recepcao-do-predio.jpeg");
    background-repeat: none;
    background-size: 48rem 41.4rem;
  }
  100%{
    background: url("./assets/lado-externo-do-predio.jpeg");
    background-repeat: none;
    background-size: 48rem 41.4rem;
  }
}

/* ========CONTACT======== */

#contact {
  text-align: left;
}
#contact img{
  border-radius: 0.7rem;
}
#contact header{
  margin-bottom: 3.2rem;
}
#contact ul{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}
#contact ul li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#contact iframe{
  margin-left: -3.5rem;
}

/* ========FOOTER======== */

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: center;

  color: white;
}
footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
  width: 30rem;
}
footer p{
  color: var(--brand-beige);
  line-height: 1.5;
  margin-block: 1.5rem;
}
footer h4{
  font-weight: 400;
  margin-bottom: 2rem;
}
footer .social-links{
  justify-content: center;
  margin-bottom: 3rem;
}
#navigation .menu .social-links li a img,
footer .social-links li a img {
  width: 4rem;
}

#backToTopButton{
  position: fixed;
  z-index: 20;
  bottom: 6rem;
  right: 2.5rem;
  
  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}
#backToTopButton.show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.floating-whatsapp{
  position: fixed;
  z-index: 20;
  bottom: 1rem;
  
  right:2.5rem;
}
.floating-whatsapp a img {
  
  background: tomato;
}

/* ========RESPONSIVO======== */

@media (min-width: 1024px) {


  /* ========GERAL======== */
  body {
    overflow: auto;
  }
  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }
  section {
    padding-block: 16rem;
  }
  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
  .col-a{
    grid-area: A;
  }
  .col-b{
    grid-area: B;
  }

  /* ========!RESET!======== */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    font-size: initial;
    font-weight: initial;
    position: initial;
    transfom: initial;
    color: initial;
    filter: initial;

  }
  nav#navigation .menu h4,
  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links{
    display: none;
  }
  
  nav#navigation .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 60%; */

    /* ***********************************************GAMBIARRA!!***************************************************** */
    margin-top: -7rem;
  }
  nav#navigation .menu ul:nth-child(1){
    display: flex;
    gap: 3.2rem;
  }
  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }
  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);
    background:var(--brand-light);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }
  nav#navigation .menu a.button:hover{
    background-color: var(--primary-color);
    border: none;
    color: white;
  }
  nav#navigation.scroll .menu ul li a{
    color: var(--brand-light-2);
    opacity: 0.6;
    font-size: 1.6rem;
  }
  nav#navigation.scroll .menu a.button{
    border-color: white;
    color: white;
    background:var(--primary-color);
  }
  nav#navigation .menu li a{
    transition: opacity .4s;
  }
  nav#navigation.scroll .menu li a.active{
    opacity: 1;
    color: white;
  }
  nav#navigation .menu li a.active{
    opacity: 1;
    font-weight: 700;
  }
  nav#navigation .menu li a:hover{
    opacity: 1;
    font-weight: 700;
  }
  nav#navigation .menu li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color:var(--primary-color);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }
  nav#navigation.scroll .menu li a::after{
    background-color: white;
  }
  nav#navigation .menu li a:hover::after{
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }
  nav#navigation.scroll .menu a.button:hover{
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /* ========HOME======== */
  #home::before{
    height: calc(115% - var(--nav-height));
  }
  #home{
    padding-block: calc(5rem + var(--nav-height));
  }
  #home .wrapper {
    grid-template-columns: 1fr 60.5rem;
    grid-template-areas: 'A B';
  }
  #home .col-a{
    text-align: center;
    align-self: center; 
    padding-right: 3rem;
  }
  #home .col-a .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #home .col-a header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #home .col-a .button {
    margin-bottom: 1rem;
  }
  #home h1{
    font-size: 5.2rem;
  }
  #home .content p{
    font-size: 1.8rem;
  }
  #home .button{
    margin: 0;
  }
  #home .col-b {
    align-self: top;
  }
  #home .col-b img {
    width: 60.5rem;
    border-radius: 0.7rem;
  }

  /* ========SERVICES======== */
  #services .wrapper{
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }
  #services .col-b{
    align-self: center;
  }
  #services .col-b img{
    width: 60.5rem;
  }
  #services h2{
    width: 47rem;
    margin-inline: auto;
  }
  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  #services .card {
    width: 30%;
    flex-grow: 1;
  }
  /* ========ABOUT======== */
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'A B';
    gap: 6.7rem;
  }
  #about .col-a {
    align-self: center;
  }
  #about .content p {
    margin-bottom: 0;
  }
  
  /* ========CONTACT======== */
  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }
  #contact .wrapper {
    
  }
  #contact h2 {
    font-size: 3.8rem;
    /* width: 40.4rem; */
  }
  /* ========FOOTER======== */
  footer {
    padding-block: 4rem;
  }
  footer .wrapper{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'A B C';
  }
  footer .col-a{
    align-self: top;
  }
  footer .col-b{
    align-self: top;
    
  }
  footer .col-c{
    align-self: top;
    text-align: right;
  }
  footer p{
    margin-block: 0;
  }
}
